<h2>The list tests</h2>
<p>
  <a href="/tests/new">Add test</a>
</p>
<ul>
  <% @tests.each do |test| %>
    <li><a href="/tests/<%= test.id %>"><%= test.title %></a> (<%= test.level %>) | <a href="/tests/<%= test.id %>/edit">Edit</a> | <a href="/tests/<%= test.id %>?_method=delete" onclick="return confirm('Are you sure?')">Delete</a> </li>
  <% end %>
</ul>